*{
    margin: 0;
    padding: 0;
      box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.bg img {
  width: 100%;
  height: 500px;
  filter: blur(3px);
  object-fit: cover;
}
.only{
  margin-bottom: -2px;
}
.bg .text {
  position: absolute;
  top: 43%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}
.text{
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 46px;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    position: relative;
  } 
 
  .header a {
    color: black;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a.logo {
    font-size: 25px;
    font-style: italic;
    color: #FD517C;
  }
  .header a:hover {
    color: #FD517C;
  }
  .header-right {
    font-family: "Noto Sans", sans-serif;
    float: right;
  }
  .header .icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
  }
  .button {
    position: absolute;
    top: 48%;
    left: 32%;
    padding: 10px;
    margin: 20px;
}
button.bt{
    background-color: #FD517C;
    font-size: 17px;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 50px;
}
.bt-two{
    background-color: transparent;
    font-size: 17px;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    width: 210px;
    height: 50px;
    border: 2px solid #FD517C;
    border-radius: 50px;
}
    .header-s {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .search-wrapper {
  position: relative;
  width: 100%;
}

.search-wrapper svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 12px 20px 12px 45px; 
  border-radius: 25px;
  border: 2px solid #FD517C;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  color: #FD517C;
}

    .container {
      display: flex;
      gap: 30px;
      margin: 20px;
      cursor: pointer;
    }
    .products {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      gap: 20px;
    }

    .card {
      background: white;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: scale(1.02);
    }

    .card img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    .card-body {
      padding: 15px;
    }

    .card-title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .card-price {
      color: #FD517C;
      font-weight: bold;
    }

.bg2{
   position: relative;
}
.bg2 img {
  margin-top: 40px;
  top: 10%;
  padding-top: 30px;
  width: 100%;
  height: 570px;
  filter: blur(3px);
  object-fit: cover;
    display: block;

}
.page{
  z-index: 2;
  position: absolute;
  top: 53%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  color: white;
  background: white;
  border: 1px solid #FD517C;
  padding: 30px 20px;
  width: 570px;
  height: 320px;
}
.page h3{
  padding: 10px;
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 46px;
      color: #FD517C;
}
.page p{
  font-size: 22px;
    color: #FD517C;
    padding: 10px;
    font-family: "Noto Sans", sans-serif;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: baseline;
  padding: 30px;
}
.social{
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: center;
  padding: 40px;
  cursor: pointer;
}
.social-item{
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}
.header .close-icon {
  display: none;
  font-size: 32px;
  color: #FD517C;
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
  z-index: 2500;
}
.header.responsive .close-icon {
  display: block;
}
.header.responsive #burgerIcon {
  display: none;
}
@media (width: 414px) {
  .bg .text {
    transform: translateY(-100px);
    margin-left: -103px;
 }
}
@media (max-width: 390px) {
   .bg .text {
    transform: translateY(-75px);
    margin-left: -103px;
 }
}
@media (width: 430px) {
   .bg .text {
    transform: translateY(-100px);
    margin-left: -103px;
 }
}
@media (width: 412px) {
   .bg .text {
    transform: translateY(-100px);
    margin-left: -103px;
 }
}
@media (width: 768px) {
   .bg .text {
    transform: translateY(-130px);
    margin-left: -110px;
 }
}
@media (width: 820px) {
   .bg .text {
    transform: translateY(-240px);
    margin-left: -170px;
 }
 .button{
  top: 28%;
  left: 22%;
 }
 .header .icon{
    display: none;
  }
}
@media (width: 1024px) {
   .bg .text {
    transform: translateY(-300px);
    margin-left: -160px;
 }
  .button{
  top: 26%;
  left: 29%;
 }
}
@media (width: 912px) {
    .bg .text {
    transform: translateY(-300px);
    margin-left: -160px;
 }
    .button{
  top: 26%;
  left: 27%;
 }
}
@media (width: 853px) {
      .bg .text {
    transform: translateY(-300px);
    margin-left: -160px;
 }
    .button{
  top: 25%;
  left: 25%;
 }
  
}
@media (max-width: 768px) {
  /* Шапка */
  .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .header a.logo {
    font-size: 20px;
    text-align: center;
    flex: 1;
  }
  .header .icon {
    display: block;
    font-size: 28px;
    color: #FD517C;
  }
  .header-right {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100%;
    background: #fff;
    padding-top: 70px;
    transition: right 0.3s ease;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  }
  .header.responsive .header-right {
    right: 0;
    align-items: baseline;
  }
  .header-right a {
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
    color: #FD517C;
  }
  .bg .text {
    font-size: 26px;
    top: 30%;
  }
  .bg{
    height: 500px;
  }
  .button {
  position: relative;
    left: auto;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-530px);
  }
  button.bt,
  .bt-two {
    width: 170px;
    font-size: 16px;
  }
  .header-s {
    margin: 20px auto;
    width: 90%;
  }
  .search-input {
    width: 100%;
    font-size: 16px;
  }

    .products {
    grid-template-columns: 1fr 1fr; /* 2 карточки в ряд */
    gap: 10px;
  }

  .card img {
    height: 200px;
  }

  /* Контент */
  .page {
    width: 80%;
    height: 64%;
    padding: 20px;
  }
  .page h3 {
    font-size: 28px;
  }
  .page p {
    font-size: 16px;
  }
  .icons{
    align-items: center;
  }
  .social {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    font-size: 12px;
    margin-top: 30px;
  }
  .icon-item {
    font-size: 12px;
    flex-direction: column;
    gap: 5px;
  }
}
